body {
  background: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



:root {
  --black: #0000;
  --white: #ffff;
  --red: #FD0000;
  --orange: #FFB852;
  --pink: #ffb8ff;
  --blue: #00ffff;

  --press: 'Press Start 2P';
  --alt: 'Rajdhani';
  --montserrat: 'montserrat';
  --mont-alts: 'montserrat alternates';
  }

/* ALL PAGES */
h2 {
  text-align: center;
  font-family: var(--press);
  font-size: 20px;
  color: var(--blue);
  font-weight: 800;
}

button {
  background-color: var(--orange);
  border: 1px solid var(--red);
  font-family: var(--alt);
  font-weight: 800;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--red);
}






/*HEADER*/
.header {
  height: auto;
}

.header h1 {
  margin: 0;
  padding: 40px 20px 10px 20px;
  text-align: center;
  color: var(--blue);
  font-family: var(--press);
  font-weight: 400;
  font-size: 50px;
}

.header h1:hover {
  color: var(--red);

}

.header h3 {
  font-family: var(--press);
  color: var(--pink);
  font-size: 10px;
  text-align: center;
  margin: 0px 0px 40px 0px;
}





  /*NAV BAR*/
.navbar {
    background: var(--orange);
    text-align: center;
 
}

.navbar a {
  text-decoration: none;
  color: navy;
}

.navbar li {
    display: inline-block;
    font-family: var(--press);
    font-size: 12px;
    text-decoration: none;
    line-height: 3;
    margin: 0px 50px 0px 50px;
}
  
.navbar a:hover {
    color: var(--red)
}




/*ADD GAME*/
.addGame {
  background: var(--isabelline);
  padding: 20px;
  text-align: center;
}

.addGame form {
  display: inline-block;
  background-color:var(--middle-blue);
  width: 400px;
  border: none;
  border-radius: 4px;
  margin: 20px;
}

fieldset {
  border: 2px solid var(--ming);
  border-radius: 4px;
}

input {
  width: 100%;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=text]:focus {
  border: 3px solid var(--ming);
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid var(--ming);
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}






/*CATEGORY/SEARCH PAGE*/
.category {
  padding: 20px;
  background: var(--black);

}






/*GAME PAGE*/
.game {
  background: var(--isabelline);
  padding: 20px;

}






/*HOME PAGE*/
.home {
  font-family: var(--alt);
  font-weight: bold;
  font-size: 16px;
  padding: 20px;
}

.home table, th, td {
  width: auto;
  text-align: center;
  color: var(--blue);
  border: solid var(--red);
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
}

.home th {
  font-size: 30px;
}





/*LOG IN PAGE*/
.login {
  padding: 20px;
  text-align: center;
  font-family: var(--alt);
  font-weight: 800;
  color: var(--blue);
}

.login p {
  margin: 0 0 0 0;
}

.login form {
  display: inline-block;
  background-color:var(--black);
  width: 400px;
  border: 2px solid red;
  border-radius: 4px;
  margin: 20px;
  padding: 10px;
}

fieldset {
  border: 2px solid var(--alt);
  border-radius: 4px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: var(--alt);
}

input[type=text]:focus {
  border: 3px solid var(--alt);
}






/*PROFILE PAGE*/
.profile {
  background: var(--isabelline);
  padding: 20px;

}








/*REGISTER PAGE*/
.register {
  padding: 20px;
  text-align: center;
  font-family: var(--alt);
  font-weight: 800;
  color: var(--blue);
}

.register p {
  margin: 0 0 0 0;
}

.pswcrit {
  font-size: 12px;
  padding-bottom: 20px;
}

.register form {
  display: inline-block;
  background-color:var(--black);
  width: 400px;
  border: 2px solid red;
  border-radius: 4px;
  margin: 20px;
  padding: 10px;
}

fieldset {
  border: 2px solid var(--alt);
  border-radius: 4px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: var(--alt);
}

input[type=text]:focus {
  border: 3px solid var(--alt);
}







/*SEARCH PAGE*/
.search {
  padding: 20px;
  text-align: center;
  color: var(--blue);
}


.searchform {
  font-family: var(--alt);
  font-weight: 800;
  font-size: 20px;
}

.search form {
  display: inline-block;
  background-color:var(--black);
  width: 400px;
  border: 2px solid red;
  border-radius: 4px;
  margin: 20px;
  padding: 10px;
}

fieldset {
  border: 2px solid var(--alt);
  border-radius: 4px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: var(--alt);
}

input[type=text]:focus {
  border: 3px solid var(--alt);
}






/* FOOTER */
.footer {
  font-size: 36px;
  text-align: center;
  position: fixed;
  bottom: 0;
  position:relative;
  bottom: 0;
  width: 100%;
  margin: 10px;
}

.fa {
  display: inline-block;
  margin: 10px;
}
