body {
  background: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



:root {
  --black: #0000;
  --white: #ffff;
  --red: #FD0000;
  --orange: #FFB852;
  --pink: #ffb8ff;
  --blue: #00ffff;

  --press: 'Press Start 2P';
  --alt: 'Rajdhani';
  --montserrat: 'montserrat';
  --mont-alts: 'montserrat alternates';
  }

/* ALL PAGES */
h2 {
  text-align: center;
  font-family: var(--press);
  font-size: 20px;
  color: var(--blue);
  font-weight: 800;
}

button {
  background-color: var(--orange);
  border: 1px solid var(--red);
  font-family: var(--alt);
  font-weight: 800;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--red);
}








/*HEADER*/
.header {
  height: auto;

}

.header h1 {
  margin: 0;
  padding: 40px 20px 10px 20px;
  text-align: center;
  color: var(--blue);
  font-family: var(--press);
  font-weight: 400;
  font-size: 50px;
}

.header h1:hover {
  color: var(--red);

}

.header h3 {
  font-family: var(--press);
  color: var(--pink);
  font-size: 10px;
  text-align: center;
  margin: 0px 0px 40px 0px;
}





  /*NAV BAR*/
.navbar {
    background: var(--orange);
    text-align: center;
    width: 100%;
}

.navbar a {
  text-decoration: none;
  color: navy;
}

.navbar li {
    display: inline-block;
    font-family: var(--press);
    font-size: 12px;
    text-decoration: none;
    line-height: 3;
    margin: 0px 50px 0px 50px;
}
  
.navbar a:hover {
    color: var(--red)
}




/*ADD GAME*/
.addGame {
  background: var(--isabelline);
  padding: 20px;
  text-align: center;
}

.addGame form {
  display: inline-block;
  background-color:var(--middle-blue);
  width: 400px;
  border: 2px solid red;
  border-radius: 4px;
  margin: 20px;
}

fieldset {
  border: 2px solid var(--ming);
  border-radius: 4px;
}

input {
  width: 100%;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=text]:focus {
  border: 3px solid var(--ming);
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid var(--ming);
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}







/*CATEGORY/SEARCH PAGE*/
.category {
  font-family: var(--alt);
  font-weight: bold;
  font-size: 16px;
  padding: 20px;
}

.category table, th, td {
  width: auto;
  text-align: center;
  color: var(--blue);
  border: solid var(--red);
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
}

.category th {
  font-size: 30px;
}






/*GAME PAGE*/
.game {
  padding: 20px;
  text-align: center;
  font-family: var(--alt);
  font-weight: 800;
  color: var(--blue);
}

.game p {
  margin: 0 0 0 0;
}

.game form {
  display: inline-block;
  background-color:var(--black);
  width: 400px;
  border: 2px solid red;
  border-radius: 4px;
  margin: 20px;
  padding: 10px;
}

fieldset {
  border: 2px solid var(--alt);
  border-radius: 4px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: var(--alt);
}

input[type=text]:focus {
  border: 3px solid var(--alt);
}







/*HOME PAGE*/
.home {
  font-family: var(--alt);
  font-weight: bold;
  font-size: 16px;
  padding: 20px;
  text-align: center;
}

.home table, th, td {
  width: auto;
  text-align: center;
  color: var(--blue);
  border: solid var(--red);
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  max-width: 50%;
  border-radius: 4px;
}

.home th {
  text-decoration: underline;
  font-size: 30px;
  padding: 5px;
}

.home td {
  font-size: 20px;
  padding: 2px;
}


.home li {
  list-style-type: none;
  text-align: center;
  margin-left: -30px;
}




/*LOG IN PAGE*/
.login {
  padding: 20px;
  text-align: center;
  font-family: var(--alt);
  font-weight: 800;
  color: var(--blue);
}

.login p {
  margin: 0 0 0 0;
}

.login form {
  display: inline-block;
  background-color:var(--black);
  width: 400px;
  border: 2px solid red;
  border-radius: 4px;
  margin: 20px;
  padding: 10px;
}

fieldset {
  border: 2px solid var(--alt);
  border-radius: 4px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: var(--alt);
}

input[type=text]:focus {
  border: 3px solid var(--alt);
}






/*PROFILE PAGE*/
.profile {
  font-family: var(--alt);
  font-weight: bold;
  font-size: 16px;
  padding: 20px;
}

.profile table, th, td {
  width: auto;
  text-align: center;
  color: var(--blue);
  border: solid var(--red);
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  max-width: 50%;
  border-radius: 4px;
}

.profile th {
  text-decoration: underline;
  font-size: 30px;
  padding: 5px;
}

.profile td {
  font-size: 20px;
  padding: 2px;
}

.profile li {
  list-style-type: none;
  text-align: center;
  margin-left: -30px;
}









/*REGISTER PAGE*/
.register {
  padding: 20px;
  text-align: center;
  font-family: var(--alt);
  font-weight: 800;
  color: var(--blue);
}

.register p {
  margin: 0 0 0 0;
}

.pswcrit {
  font-size: 12px;
  padding-bottom: 20px;
}

.register form {
  display: inline-block;
  background-color:var(--black);
  width: 400px;
  border: 2px solid red;
  border-radius: 4px;
  margin: 20px;
  padding: 10px;
}

fieldset {
  border: 2px solid var(--alt);
  border-radius: 4px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: var(--alt);
}

input[type=text]:focus {
  border: 3px solid var(--alt);
}







/*SEARCH PAGE*/
.search {
  padding: 20px;
  text-align: center;
  color: var(--blue);
}

.searchform {
  font-family: var(--alt);
  font-weight: 800;
  font-size: 20px;
}

.search form {
  display: inline-block;
  background-color:var(--black);
  width: 400px;
  border: 2px solid red;
  border-radius: 4px;
  margin: 20px;
  padding: 10px;
}

fieldset {
  border: 2px solid var(--alt);
  border-radius: 4px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: var(--alt);
}

input[type=text]:focus {
  border: 3px solid var(--alt);
}






/* FOOTER */
.footer {
  font-size: 36px;
  bottom: 0;


  width: 100%;
  margin: 10px;
}

.footer img {
  background-color: transparent;
  width: 50px;
  height: 50px;
  padding: 10px;
}

.row {
  display: flex
}

.column {
flex: 33.33%;
padding: 5px;
}

footer img:hover {
  transform: scale(1.3);
}


/*PAC MAN*/

 .pacman {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--blue);
  position: relative;
  margin-top: 20px;
}

.pacman2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--pink);
  position: relative;
  margin-top: 20px;
}

.pacman__eye {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: 10px;
  right: 20px;
  background: #333333;
}

.pacman__mouth {
  background: #000;
  position: absolute;
  width: 101%;
  height: 100%;
  clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  animation-name: eat;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

@keyframes eat {
  0% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
  25% {
    clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
  }
  50% {
    clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
  }
  75% {
   clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
  }
  100% {
   clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
}

.pacman__food {
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  top: 40%;
  left: 120px;
  animation-name: food;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

@keyframes food {
  0% {
    transform: translateX(0);
      opacity: 1;
  }
  100% {
    transform: translateX(-50px);
    opacity: 0;
  }
}



/* html{

  border-bottom:solid 5px blue;
  border-top:solid 5px blue; 
  overflow-x:hidden;
  padding-bottom:142px;
}


.pacman{
  margin:40px 10px;
}

.pacman-top{
  background-color: var(--pink);
  height:100px;
  width:200px;
  border-radius:100px 100px 0 0;
  animation: spin1 0.5s infinite linear;
}

.pacman-bottom{
background-color: var(--pink);
  height:100px;
  width:200px;
  border-radius:0 0 100px 100px;
  animation: spin2 0.5s infinite linear;
}

.feed {
margin-top: -185px;
margin-left:15px;
width: 45px;
height: 45px;
border-radius: 30%;
-moz-animation: eat 1s linear 0s infinite;
-webkit-animation: eat 1s linear 0s infinite;
animation: eat 1s linear 0s infinite;
}   

/* Animation

@keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}

@-moz-keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@-moz-keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}

@-webkit-keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@-webkit-keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}

@keyframes eat {
	0% { box-shadow: 
      100px 65px 0 0 white, 
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white,
      900px 65px 0 0 white, 
      1100px 65px 0 0 white, 
      1300px 65px 0 0 white;}
  
100% { box-shadow: 
      0px 65px 0 0 white, 
      100px 65px 0 0 white,
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white, 
      900px 65px 0 0 white, 
      1100px 65px 0 0 white;}
}

@-moz-keyframes eat {
	0% { box-shadow: 
      100px 65px 0 0 white, 
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white,
      900px 65px 0 0 white, 
      1100px 65px 0 0 white, 
      1300px 65px 0 0 white;}
  
100% { box-shadow: 
      0px 65px 0 0 white, 
      100px 65px 0 0 white,
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white, 
      900px 65px 0 0 white, 
      1100px 65px 0 0 white;}
}



@-webkit-keyframes eat {
	0% { box-shadow: 
      100px 65px 0 0 white, 
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white,
      900px 65px 0 0 white, 
      1100px 65px 0 0 white, 
      1300px 65px 0 0 white;}
  
100% { box-shadow: 
      0px 65px 0 0 white, 
      100px 65px 0 0 white,
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white, 
      900px 65px 0 0 white, 
      1100px 65px 0 0 white;}
}
 */

